.page {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.page__body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(222, 237, 255, 0.6) 0%, rgba(166, 204, 250, 0.5) 100%) fixed,
  url("../img/background.svg") center / 100% no-repeat fixed;
  background-size: cover;
}

.header {
  margin: 24px 0 0 0;
}

.header__title {
  overflow: hidden;
  margin: 0 auto;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 55px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main {
  margin: 27px 0 0 0;
  padding: 0 0 25px 0;
}

.card-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  gap: 32px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.card-list__item {
  position: relative;
  width: 372px;
  height: 372px;
  box-sizing: border-box;
}

.card-wrapper {
  color: #ffffff;
  list-style-type: none;
  background: linear-gradient(180deg, rgba(10, 34, 64, 0.1) 0%, #0a2240 100%);
  border-radius: 10px;
}

.card-wrapper:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.card-wrapper--selected:hover {
  box-shadow: none;
}

.card {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-content: center;
  padding: 24px 26px 24px 24px;
}

.card__title-link {
  text-decoration: none;
}

.card__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.card__title:hover {
  text-decoration: underline;
}

.card__title:active {
  color: rgba(255, 255, 255, 0.5);
}

.card__description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 9px 0 0 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.card__line {
  margin: 21px 0 15px 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  border: 0;
}

.card__footer {
  display: grid;
  grid-template-columns: 117px 180px;
  justify-content: center;
  align-content: center;
  column-gap: 27px;
}

.area-price__head {
  margin: 1px 0 0 0;
  overflow: hidden;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.area-price__text {
  margin: 0 0 -1px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}

.area-price__cost {
  padding: 0 2px 0 2px;
  font-size: 24px;
  line-height: 32px;
  color: #ff4b77;
}

.area-price__symbol-money {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 32px;
  color: #999999;
}

.card__area-button {
  align-self: flex-end;
}

.button {
  padding: 12px 10px;
  width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  user-select: none;
  color: #ffffff;
  outline: none;
  border: 0;
  background: #f91155;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  background: #d8003f;
}

.button:active {
  color: #f9637c;
  background: #d8003f;
}

.button__text {
  margin: 0 0 0 2px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-wrapper__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-wrapper__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.card-wrapper__reserved-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 96px;
  background: #3c3e43;
  border-radius: 0 0 10px 10px;
}

.card-wrapper--active > .card-wrapper__overlay,
.card-wrapper--active > .card-wrapper__reserved-wrapper {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 0s 1s;
}

.card-wrapper--selected > .card-wrapper__overlay,
.card-wrapper--selected > .card-wrapper__reserved-wrapper {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 0s;
}

.card-wrapper__reserved {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.reserved__text {
  margin: 0;
  overflow: hidden;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reserved__text-link {
  color: #ff4b77;
  text-decoration: none;
}

.reserved__text-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.reserved__text-link:active {
  color: #ff97b0;
}

.best-price {
  position: absolute;
  top: 25px;
  left: 24px;
  z-index: 10;
  box-sizing: border-box;
  visibility: hidden;
  height: 30px;
  padding: 4px 5px 0 16px;
  border-radius: 3px 0 0 3px;
  background: #ff7647;
  opacity: 0;
}

.best-price::after {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 0;
  margin: 0 0 0 4px;
  content: "";
  width: 36px;
  height: 30px;
  background: url(../img/icon_discount.svg) no-repeat;
}

.best-price__text {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  max-width: 175px;
}

.best-price--active {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 0s 1s;
}

.card-wrapper--active:hover > .best-price--active {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 0s;
}

@media (min-width: 768px) and (max-width: 1279px) {

  .header {
    margin: 27px 0 0 0;
  }

  .main {
    margin: 26px 0 0 0;
  }

  .card-list {
    max-width: 800px;
    margin: 0 auto;
    gap: 37px 28px;
  }

  .card-list__item {
    width: 336px;
    height: 420px;
  }

  .card {
    padding: 24px;
  }

  .card__title {
    margin: 0 0 2px 0;
  }

  .card__footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    row-gap: 16px;
  }

  .card__area-button {
    align-self: stretch;
  }

  .card-wrapper__reserved-wrapper {
    height: 160px;
  }

}

@media (max-width: 767px) {

  .header {
    margin: 24px 0 0 0;
  }

  .header__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  .main {
    margin: 24px 0 0 0;
  }

  .card-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 32px;
  }

  .card-list__item {
    width: 288px;
    height: 347px;
    border-radius: 13px;
  }

  .card {
    padding: 21px;
  }

  .card__title {
    font-size: 20px;
    line-height: 26px;
  }

  .card__description {
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 21px;
  }

  .card__line {
    margin: 20px 0 18px 0;
  }

  .card__footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    row-gap: 16px;
  }

  .area-price__head {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
  }

  .area-price__text {
    font-size: 17px;
    line-height: 21px;
  }

  .area-price__symbol-money,
  .area-price__cost {
    font-size: 20px;
    margin: 0 0 0 -1px;
  }

  .card__area-button {
    align-self: stretch;
  }

  .button {
    padding: 9px 10px;
    border-radius: 3px;
    font-size: 14px;
  }

  .button__text {
    margin: -1px 0 1px 2px;
  }

  .card-wrapper__image,
  .card-wrapper__overlay {
    border-radius: 13px;
  }

  .card-wrapper__reserved-wrapper {
    height: 148px;
    border-radius: 0 0 13px 13px;
  }

}


