.page
  height: 100%
  box-sizing: border-box
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center

.page__body
  margin: 0
  width: 100%
  overflow-x: hidden
  box-sizing: border-box
  background: linear-gradient(180deg, rgba(222, 237, 255, 0.6) 0%, rgba(166, 204, 250, 0.5) 100%) fixed,
  url('../img/background.svg') center / 100% no-repeat fixed
  background-size: cover

.header
  margin: 24px 0 0 0

.header__title
  overflow: hidden
  margin: 0 auto
  font-family: 'Roboto', 'Arial', sans-serif
  font-style: normal
  font-weight: 500
  font-size: 36px
  line-height: 55px
  text-align: center
  text-overflow: ellipsis
  white-space: nowrap


