@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    padding: 27px 0 0 0;
  }

  .main {
    margin: 26px 0 0 0;
  }

  .main__container-card {
    max-width: 800px;
    margin: 0 auto;
  }

  .container-card {
    display: flex;
    flex-flow: row wrap;
    gap: 37px 28px;
  }

  .container-card__card-box {
    width: 336px;
    height: 420px;
  }

  .card-box__card-content {
    padding: 24px;
  }

  .card-box__card-footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    row-gap: 16px;
  }

  .card-footer__area-button {
    align-self: stretch;
  }
}
