@use "../global/variables" as *;
@use "../global/mixins" as *;

.area-price {
  &__head {
    margin: 1px 0 0 0;
    font-family: $second-family-text;
    font-style: normal;
    font-weight: 700;
    @include middle-text;

    @media (max-width: $mobile) {
      margin: 0;
      @include small-text;
    }
  }

  &__text {
    margin: 0 0 -1px 0;
    font-family: $main-family-text;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;

    @media (max-width: $mobile) {
      font-size: 17px;
      line-height: 21px;
    }
  }

  &__cost {
    padding: 0 2px 0 2px;
    @include big-text;
    color: #ff4b77;

    @media (max-width: $mobile) {
      font-size: 20px;
      margin: 0 0 0 -1px;
    }
  }

  &__symbol-money {
    font-family: -apple-system, "Open Sans", "Arial", sans-serif;
    margin: 0 0 0 1px;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    color: #999999;

    @media (max-width: $mobile) {
      font-family: -apple-system, "Roboto", "Arial", sans-serif;
      font-size: 20px;
    }
  }
}
