@use "../global/variables" as *;
@use "../global/mixins" as *;

.best-price {
  position: absolute;
  top: 25px;
  left: 24px;
  z-index: 10;
  visibility: hidden;
  height: 30px;
  padding: 4px 5px 0 16px;
  border-radius: 3px 0 0 3px;
  background: #ff7647;
  opacity: 0;

  &::after {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    margin: 0 0 0 4px;
    content: "";
    width: 36px;
    height: 30px;
    background: url(../images/icon_discount.svg) no-repeat;
  }

  &--active {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 0s 1s;
  }

  &__text {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: $main-family-text;
    font-style: normal;
    font-weight: 700;
    @include small-text;
    color: $color-text;
    max-width: 175px;
  }
}
