@use "../global/variables" as *;
@use "../global/mixins" as *;

.card {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: stretch;
  padding: 24px 26px 24px 24px;

  @media (max-width: $tablet) {
    padding: 24px;
  }

  @media (max-width: $mobile) {
    padding: 21px;
  }

  &__title-link {
    text-decoration: none;
  }

  &__title {
    margin: 0;
    font-family: $main-family-text;
    font-style: normal;
    font-weight: 700;
    @include big-text;
    color: $color-text;

    @media (max-width: $tablet) {
      margin: 0 0 2px 0;
    }

    @media (max-width: $mobile) {
      font-size: 20px;
      line-height: 26px;
    }

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__description {
    margin: 10px 0 0 0;
    font-family: $second-family-text;
    font-style: normal;
    font-weight: 400;
    @include middle-text;

    @media (max-width: $tablet) {
      margin-top: 8px;
    }

    @media (max-width: $mobile) {
      margin: 11px 0 0 0;
      @include small-text;
    }
  }

  &__line {
    margin: 21px 0 15px 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    border: 0;

    @media (max-width: $tablet) {
      margin: 21px 0 16px 0;
    }

    @media (max-width: $mobile) {
      margin: 20px 0 18px 0;
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: 117px 180px;
    @include center-block;
    column-gap: 27px;

    @media (max-width: $tablet) {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: stretch;
      row-gap: 16px;
    }

    @media (max-width: $mobile) {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: stretch;
      row-gap: 16px;
    }
  }

  &__area-button {
    margin: 8px 0 0 0;

    @media (max-width: $tablet) {
      align-self: stretch;
      margin-top: 0;
    }

    @media (max-width: $mobile) {
      align-self: stretch;
      margin-top: 0;
    }
  }
}
