@use "../base/variables" as *;
@use "../base/mixins" as *;

.header {
  margin: 24px 0 0;

  @media (max-width: $tablet) {
    margin-top: 27px;
  }

  @media (max-width: $mobile) {
    margin-top: 24px;
  }
}

.header__title {
  overflow: hidden;
  margin: 0 auto;
  font-family: $main-family-text;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 55px;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;

  @media (max-width: $mobile) {
    font-weight: 700;

    @include big-text;
  }
}
