$color-text: #ffffff;
$border-radius-medium: 10px;
$border-radius-big: 13px;

$main-family-text: "Roboto", "Arial", sans-serif;
$second-family-text: "Open Sans", "Arial", sans-serif;

$mobile: 767px;
$tablet: 1279px;
